<div class="jumbotron">
	<h1>Reddit Scraper</h1>
	<p>See what's going on the front page of reddit!</p>
	<button id="get-articles">Get Articles</button>
	<button id="get-notes">Get Notes</button>
</div>

<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-body">
			<div id="articles"></div>
			<div id="saved-notes"></div>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-body">
			<div id="notes"></div>
		</div>
	</div>
</div>