<div class="jumbotron">
	<h1>Reddit Scraper</h1>
	<p>See what's going on the front page of reddit!</p>
</div>

<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-body">
			<div id="articles"></div>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-body">
			<div id="notes"></div>
		</div>
	</div>
</div>